[package]
name = "minio-rs"
version = "0.1.0"
authors = ["MinIO Dev Team <dev@min.io>"]
edition = "2018"

[dependencies]
bytes = "0.4.12"
futures = "0.1.27"
http = "0.1.17"
hyper = "0.12.28"
hyper-tls = "0.3.2"
ring = "0.14.6"
roxmltree = "0.6.0"
serde = "1.0.92"
serde_derive = "1.0.91"
serde_json = "1.0.39"
time = "0.1.42"
tokio = "0.1.21"
xml-rs = "0.8.0"

